
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <title>Login</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    </head>
    <body>
      <h2>Autentificación</h2>
    <form action="" method = "POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        
        <input type="submit" value="Login">
    </form>

</body>
</html>
  