body {
font-family: sans-serif;
margin: 20;
background-color: white;
}

header {
  padding: 20px;
  background-color: grey;
  color: white;
}

ul {
  padding: 20px;
}


.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: black;
}

footer {
  background-color:  #F39C12;
  color: white;
  padding: 20px;
}

a {
  color: white;
}

ol li {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgreen;
  margin-bottom: 10px;
}

table, th, td {
  border: 1px dotted grey;
}

th, td {
  padding: 20px;
}
th {
  background-color: lightgrey;
}
